@media only screen and (max-width: 370px) and (min-width: 300px){
    button.grow_skew_forward {
        font-size: 12px !important;
        padding: 10px 20px;
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
    }

    .ribbon {
        top: -27px !important;
    }

    p.ratettl {
        font-size: 11px !important;
    }

    p.footer-copyright {
        font-size: 12px !important;
        letter-spacing: 0px;
        margin-top: 20px;
        line-height: 22px;
    }

    .list-item .item-bonus p {
        font-size: 14px;
        line-height: 22px;
        padding: 0px 30px;
    }

    img.logo {
        max-width: 145px !important;
    }

    .item-logo::before {
        width: 164px !important;
    }

    .item-p-sm {
        position: absolute;
        top: 28% !important;
        left: 85% !important;
        transform: translate(-50%, -50%);
    }

    .trust-content {
        gap: 10px;
    }

    .getlink a {
        top: -16px !important;
    }

    .half_circle {
        height: 180px;
        max-width: 180px;
        top: -26px;
        left: 2px;
        width: 100%;
    }

    .trust-description > p {
        font-size: 9px !important;
    }

    .ribbon {
        font-size: 12px !important;
    }

    img.logo {
        max-width: 144px;
    }
}



@media (max-width: 599px){
    body {
        overflow-x: hidden;
    }

    div#page {
        overflow-x: hidden;
    }

    .header {
        height: 370px;
        padding: 0px;
    }

    .header-content {
        text-align: center;
        padding: 20px 0px;
    }

    .header-content > h1 {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0px;
        padding: 0px;
    }

    .header-content > p {
        font-size: 12px;
        line-height: 22px;
        padding: 0px;
        word-spacing: 0px;
        letter-spacing: 0px;
    }

    .trust-content {
        padding-bottom: 20px;
        margin-top: -14px;
    }

    .trust-content-icon {
        gap: 12px;
    }

    .trust-description {
        display: flex;
        align-items: center;
        gap: 4px;
        text-align: center;
    }

    .trust-icon > img {
        width: 20px;
        height: auto;
    }

    .trust-description > p {
        font-size: 8px;
        letter-spacing: 0px;
        padding: 3px 0px;
        text-align: center;
    }

    .item-logo::before {
        content: ' ';
        width: 170px;
        height: 180px;
        background: linear-gradient(178deg, rgb(105 46 143) 0%, rgb(129 54 120) 100%);
        position: absolute;
        top: -25px;
        left: -227px;
    }

    .ribbon {
        width: 134px;
        left: -9px;
        top: -25px;
    }

    .text {
        width: 150px;
        padding: 6px 2px;
        top: -1px;
        font-size: 11px;
        font-size: 400;
    }

    img.logo {
        max-width: 151px;
        height: auto;
        left: 0;
    }

    p.ratettl.mb-0 {
        font-size: 13px !important;
        letter-spacing: 0px !important;
        font-weight: 500;
        position: relative;
    }

    .ratings {
        top: -22px;
        left: 15%;
        transform: translateX(-25px);
    }

    p.sm-sc {
        font-size: 36px !important;
        position: relative;
        left: 0px;
        top: -12px;
        font-weight: 600 !important;
    }

    .item-p-sm {
        position: absolute;
        top: 26%;
        left: 82%;
        transform: translate(-50%, -50%);
    }

    .list-item .item-bonus p {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 40px;
    }

    button {
        font-size: 14px !important;
        border: 0px;
        padding: 0.85em 2em;
        z-index: 1;
        overflow: hidden;
        position: relative;
        top: 0px;
        width: 100%;
        left: -2%;
        transform: translateX(0px);
    }

    .getlink a {
        display: none;
    }

    .item-bonus::before{
        display: none;
    }

    .item-rat::before{
        display: none;
    }

    .item-sco-1::before{
        display: none
    }

    .list-item .item-rat p, .list-item .item-play p {
        font-size: 12px;
    }

    .list-star {
        width: 70px;
    }

    .list-item .item-sco {
        font-size: 32px;
    }

    .list-item .notes {
        margin-top: 0px;
        left: 0px;
        letter-spacing: 0px;
        font-size: 9px;
    }

    .item-rat.col-6.col-sm-2.text-center {
        z-index: 1;
    }

    .list-item{
        margin-bottom: 10px;
        height: 180px;
    }

    .list-item .item-bonus {
        width: 100%;
    }

    .list-star > img {
        width: 80px;
    }

    .list-item .item-rat p, .list-item .item-play p {
        font-size: 12px;
        color: #fff;
        margin-top: 12px;
    }

    .d-flex.align-items-center.justify-content-around.d-md-block.py-2.py-md-0 {
        margin-top: -4px;
    }

    .list-content {
        padding: 40px 15px 20px;
        margin: 30px 0px;
    }

    .list-content > h2 {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .list-content > h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: -5px;
        margin-top: 20px;
        line-height: 32px;
    }

    .list-content > p {
        font-size: 14px;
        padding: 10px 0px;
        letter-spacing: 0px;
        line-height: 24px;
        margin-top: 8px;
    }

    .footer {
        padding: 15px 0px;
    }

    p.footer-p-note {
        font-size: 11px;
        font-weight: 400;
        color: #ebebeb;
        line-height: 19px;
    }

    .footer-txt h2 {
        font-size: 30px !important;
        line-height: 35px;
    }

    p.footer-copyright {
        font-size: 12px !important;
        letter-spacing: 0px;
        margin-top: 10px;
        font-weight: 400;
        word-spacing: 2px;
    }

    .list-content > ul > li {
        font-size: 14px;
        padding: 8px 0px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    .footer-license-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .footer-cp-bg.pb-3 {
        overflow-x: hidden;
    }

    .footer-txt.footer-text-2 > h2 {
        font-size: 22px !important;
    }

    section.footer-cp-content {
        overflow: hidden;
    }

    .footer-cp-bg {
        padding: 20px 10px;
        margin-top: 0px;
        margin-bottom: -20px;
    }

    .page-content > h5 {
        font-size: 26px;
        line-height: 35px;
        font-weight: 600;
        margin-top: 15px;
    }

    h2.game-section-h2 {
        font-size: 34px;
    }
    
    p.game-section-p{
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #444343e5;
        font-weight: 400;
        word-spacing: 1px;
        line-height: 24px;
        padding: 0px 10px 20px 10px;
    }

    .game-section {
        padding: 20px 0px 30px 0px;
        text-align: center;
    }

    iframe.game-h {
        width: 100%;
        height: 300px !important;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}



@media only screen and (max-width: 600px) and (min-width: 421px){
    .item-logo::before {
        content: ' ';
        width: 198px;
        height: 180px;
        position: absolute;
        top: -25px;
        left: -227px;
    }

    img.logo {
        max-width: 180px;
        height: auto;
        left: 0;
    }

    .ratings {
        top: -32px;
    }

    p.sm-sc {
        top: -24px;
    }

    .list-item .item-bonus p {
        font-size: 14px;
        line-height: 24px;
        padding: 0px 15px;
    }

    button {
        top: -14px;
        width: auto;
        padding: 10px 40px;
    }

    .trust-description > p {
        font-size: 12px;
    }

    .trust-card {
        gap: 4px;
    }
}




@media only screen and (max-width: 868px) and (min-width: 601px){
    .header {
        height: 350px;
    }

    .header-content > h1 {
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 0px;
    }

    .header-content > p {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.2px;
        word-spacing: 1px;
        margin-bottom: 10px;
        padding: 0px 15px;
    }

    .trust-bar {
        padding: 10px 20px;
    }

    .trust-description > p {
        font-size: 13px;
        letter-spacing: 0.2px;
    }

    .trust-bar-date > p {
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    .text-title-sm-1 {
        position: relative;
        left: -8%;
        transform: translateX(10px);
    }

    .text-title-left-3 {
        position: relative;
        left: 50%;
        transform: translateX(8px);
    }

    .text-title-left-4 {
        position: relative;
        left: 10%;
        transform: translateX(18px);
    }

    .list-title {
        font-size: 13px;
    }

    .gap-3 {
        gap: 0rem!important;
    }
    
    .col-3 {
        width: 15%;
    }

    .col-2 {
        width: 19%;
    }

    .flex-fill {
        flex: none !important;
    }

    .item-rat.col-6.col-sm-2.text-center {
        width: 19%;
    }

    .list-item {
        height: 120px;
    }

    img.logo {
        position: relative;
        width: 135px;
        left: -14px;
        top: -15px !important;
        height: 70px;
    }

    .text {
        padding: 0.5em 0.2em;
        width: 150px;
        top: -2px;
    }

    .ribbon {
        font-size: 10px;
        font-weight: 400;
    }

    .item-logo::before {
        margin-left: 132px;
    }

    .list-item .item-bonus p {
        font-size: 13px;
        letter-spacing: 0px;
        left: -31%;
        transform: translateX(10px);
        line-height: 22px;
        padding: 0px 22px;
    }

    .item-play.col-6.col-sm-3.text-center {
        width: 16%;
    }

    .list-item .item-rat p, .list-item .item-play p {
        font-size: 15px;
        left: 40%;
        position: relative;
        transform: translateX(0px);
    }

    .ratings {
        left: 18%;
        transform: translateX(-34px);
    }

    .list-star > img {
        width: 105px;
    }

    .item-logo::before {
        margin-left: 132px;
        height: 121px;
    }

    .item-bonus::before {
        margin-left: 60px;
        height: 121px;
    }

    .item-sco-1::before {
        margin-left: 70px;
        height: 121px;
    }

    .item-rat::before {
        margin-left: 60px;
        height: 121px;
    }

    .getlink a {
        font-size: 9px;
        letter-spacing: 0.2px;
    }
    
    .item-sco.col-6.col-sm-3.text-center.d-none.d-md-block {
        width: 10%;
    }

    .item-play.col-6.col-sm-2.text-center {
        width: 23%;
    }

    .item-bonus.text-center.mx-auto.\/ms-md-auto {
        width: 200px;
    }

    .text-center.text-title-left {
        margin-left: 18px;
    }

    p.ratettl.mb-0 {
        position: relative;
        left: 0px !important;
    }

    .score-nm {
        left: -20%;
        transform: translateX(10px);
        font-size: 40px;
    }

    button {
        font-size: 13px !important;
        padding: 10px 8px;
        left: 30%;
        transform: translateX(10px);
        width: 120px;
    }

    .list-content {
        padding: 40px 20px 20px 20px;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .list-content > h2 {
        font-size: 30px;
        line-height: 42px;
    }

    .list-content > ul > li {
        font-size: 15px;
    }

    .list-content > p {
        font-size: 14px;
    }

    .footer-cp-bg {
        padding: 40px 15px;
    }

    .footer-txt > h2 {
        font-size: 34px;
    }

    p.footer-copyright > a {
        color: #ffffff !important;
        font-size: 13px;
    }

    footer img.footer-ico {
        max-width: 90px;
    }

    p.footer-copyright {
        font-size: 14px !important;
    } 
}



@media (max-width: 991px){
    body .container {
        max-width: 100%;
        overflow: hidden;
    }
}



@media (min-width: 992px){
    body .container {
        width: 1120px;
        max-width: 98vw;
    }
}



@media only screen and (min-width: 869px) {
    .item-sco.col-6.col-sm-3.text-center.d-none.d-md-block {
        width: 20%;
        position: relative;
        top: -30px;
    }

    .item-play.col-6.col-sm-2.text-center {
        width: 20%;
    }

    .col-3 {
        width: 19%;
    }

    .col-2 {
        width: 18%;
    }
}



@media only screen and (max-width: 1100px) and (min-width: 869px){
    .header-content > h1 {
        font-size: 44px;
    }

    .text-title-left-1 {
        position: relative;
        left: 0%;
        transform: translateX(8px);
    }

    img.logo {
        width: 220px;
        left: -6px;
    }

    .list-item .item-bonus p {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        transform: translateX(40px);
        left: -22%;
    }

    .list-item .item-rat p, .list-item .item-play p {
        font-size: 14px;
    }

    button {
        left: 6%;
        padding: 0.84em 2.2em;
        transform: translateX(30px);
    }


    .getlink a {
        left: 20%;
        transform: translateX(0px);
    }

    .item-rat::before {
        margin-left: 80px;
    }

    .item-bonus::before {
        margin-left: 95px;
    }
}