*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



/* ------------------------------
  Header Start
-------------------------------- */
.header{
  position: relative;
  height: 420px;
  padding-top: 0px;
  padding-bottom: 60px;
  overflow: hidden;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgb(105 46 143 / 50%) 0%, rgb(0 0 0) 100%);
}

.bottom-curve:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-size: 100% !important;
  background: url('../images/wave5.svg') bottom no-repeat;
}

.header-content{
  text-align: center;
  padding: 40px 0px 20px 0px;
}

.header-content > h1{
  font-weight: 600;
  font-size: 50px;
  color: #f7f7f7;
  font-family: "Hind", sans-serif !important;
  word-spacing: 1px;
  line-height: 60px;
  padding-bottom: 10px;
}

.header-content > p{
  font-size: 15px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  line-height: 28px;
  color: #e7e7e7;
  font-weight: 400;
  padding: 0px 50px;
}

.trust-content{
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding-bottom: 40px;
}

.trust-card{
  display: flex;
  align-items: center;
  gap: 8px;
}

.trust-icon > img {
  width: 28px;
}

.trust-description > p {
  font-weight: 600;
  color: #ffffff;
  font-family: "Hind", sans-serif !important;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  font-size: 18px;
  margin-bottom: 0px !important;
}
/* ----------------------------
  Header End
------------------------------- */



/* -------------------------------
  List Start
--------------------------------- */
.list-main {
  position: relative;
  padding: 30px 0px -1px 0px;
  z-index: 99999;
  margin-top: 30px;
}

.list-main:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0e0d0d00;
}

.list-title {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: "Hind", sans-serif !important;
  font-weight: 500;
  letter-spacing: 0.4px;
  box-shadow: 0px 1px 12px 3px rgba(89, 110, 121, 0.151);
}

.list-title{
  padding-bottom: 10px !important;
  background: linear-gradient(270deg, rgb(105 46 143) 0%, rgb(129 54 120) 100%);
}

.text-title-left-1 {
  position: relative;
  left: -4%;
  transform: translateX(0px);
}

.text-title-left-2 {
  position: relative;
  left: -8%;
  transform: translateX(0px);
}

.text-title-left-3 {
  position: relative;
  left: 50%;
  transform: translateX(5%);
}

.text-title-left-4 {
  position: relative;
  left: 10%;
  transform: translateX(5%);
}

.list-item {
  border: 1px inset transparent;
  box-shadow: 0px 1px 12px 3px rgba(38, 39, 39, 0.164);
  border-radius: none !important;
  font-weight: 500;
  color: #fff;
  background-color: #ffffff;
  z-index: 11;
  height: 150px;
}

.ribbon {
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 1;
  top: -26px;
  left: -26px;
}

.text {
  display: inline-block;
  padding: 0.4em 1em;
  width: 200px;
  line-height: 1.2em;
  background: linear-gradient(270deg, #3baa34 0%, #2c7e26 100%);
  position: relative;
  border-bottom-right-radius: 16px;
}

.ribbon:before{
  content:'';
  position:absolute;
  border-style:solid;
}

.ribbon:before{
  top:0.3em; left:0.2em;
  width:100%; height:100%;
  border:none;
  background:#ebeced00;
  z-index:-2;
}

.logo{
  z-index: 1;
  position: relative;
}

img.logo {
  position: relative;
  width: 234px;
  left: -14px;
  top: -16px !important;
}

.item-logo::before {
  content: ' ';
  width: 2px;
  height: 150px;
  background: #0000001a;
  position: absolute;
  margin-left: 230px;
  top: -26px;
}

.list-item .item-bonus p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  position: relative;
  line-height: 30px;
  z-index: 11;
  color: #1a1a1ae5;
  word-spacing: 1px;
  margin-bottom: 0px !important;
  left: -18%;
  transform: translateX(8px);
  top: -12px;
  min-width: 230px;
  display: block;
}

.ratings {
  position: relative;
  top: -8px;
  left: 15%;
  transform: translateX(-35px);
}

.list-star > img{
  width: 110px;
}

.item-play.col-6.col-sm-3.text-center {
  position: relative;
  top: -16px;
}

.list-item .item-rat p,.list-item .item-play p{
  font-size:17px;
  font-weight: 700;
  color: #1a1a1ae5;
}

.list-item .item-sco{
  font-size:43px
}

.score-nm {
  font-size: 50px;
  font-weight: 700;
  color: #1a1a1ae5 !important;
  position: relative;
  top: -15px;
  line-height: 0px;
  left: 32%;
  transform: translateX(10px);
}

.getlink a {
  color: #363636e5;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: 6px;
  letter-spacing: 0.2px;
  left: 16%;
}

.getlink a:hover{
  color: rgb(105 46 143);
  text-decoration:underline
}

button {
  font-size: 15px;
  background: linear-gradient(270deg, rgb(105 46 143) 0%, rgb(129 54 120) 100%);
  color: #fff;
  border: 0px;
  padding: 0.84em 2.8em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  left: 16%;
  transform: translateX(0%);
  box-shadow: 0px 7px 12px -2px rgb(38 39 39 / 52%);
}

button:hover {
  color: #fdfdfd;
}

button::after {
  content: "";
  background: linear-gradient(270deg, rgb(244, 182, 49) 0%, rgb(244, 121, 25) 100%);
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

button[class^="slide"]::after {
  transition: all 0.35s;
}

button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button[class^="grow"]::after {
  transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}

button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}

button.grow_skew_forward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}

button.grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}

.item-bonus::before {
  content: ' ';
  width: 2px;
  height: 150px;
  background: #0000001a;
  position: absolute;
  margin-left: 100px;
  top: -26px;
}

.item-rat::before {
  content: ' ';
  width: 2px;
  height: 150px;
  background: #0000001a;
  position: absolute;
  margin-left: 88px;
  top: -26px;
}

.item-sco-1::before {
  content: ' ';
  width: 2px;
  height: 150px;
  background: #0000001a;
  position: absolute;
  margin-left: 110px;
  top: -25px;
}

.item-sco-2::before {
  content: ' ';
  width: 2px;
  height: 150px;
  background: #0000001a;
  position: absolute;
  margin-left: 105px;
  bottom: -70px;
}
/* --------------------------------
  List End
----------------------------------- */




/* -------------------------------
    List Description Start
-------------------------------- */
.list-content {
  border: 1px solid transparent; 
  border-image-slice: 1;
  border-width: 1px; 
  padding: 50px 40px 40px 40px;
  margin: 80px 0px;
  background: linear-gradient(270deg, rgb(105 46 143) 0%, rgb(129 54 120) 100%);
}

.list-content > h2 {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.4px;
  word-spacing: 1px;
}

.list-content > h3 {
  font-size: 26px;
  letter-spacing: 0.4px;
  color: #f5f5f5;
  font-weight: 500;
  margin-bottom: -5px;
  margin-top: 35px;
}

.list-content > p {
  font-size: 15px;
  font-weight: 300;
  color: #e7e7e7;
  padding: 15px 0px 0px 0px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.list-content > ul{
  padding: 20px 0px 0px 0px;
}

.list-content > ul > li{
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: #e7e7e7;
  line-height: 30px;
  letter-spacing: 0.2px;
  padding-bottom: 10px;
}
/* -------------------------------
  List Description End
---------------------------------- */


/* --------------------------------
    Game Section Start
----------------------------------- */
.game-section{
  padding: 20px 0px 80px 0px;
  text-align: center;
}

h2.game-section-h2{
  font-size: 50px;
  letter-spacing: 0.4px;
  color: #1a1a1ae5;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Hind", sans-serif !important;
}

p.game-section-p{
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #444343e5;
  font-weight: 400;
  word-spacing: 1px;
  padding-bottom: 70px;
  line-height: 28px;
  padding: 0px 40px 30px 40px;
}

.footer-t{
  padding-top: 35px !important;
}
/* ----------------------------------
  Game Section End
------------------------------------ */



/* -------------------------------
  Footer Start
----------------------------------- */
.footer {
  border-top: 1px solid transparent;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: radial-gradient(circle at 50.4% 50.5%, rgb(223, 223, 226) 0%, rgba(80, 80, 80, 0.205) 90%);
  background: #000000;
  padding: 30px 15px 20px 15px;
  text-align: center;
  position: relative;
  bottom: -20px;
}

p.footer-p-a {
  font-size: 13px;
  font-weight: 400;
  color: #ebebeb;
  line-height: 27px;
}

p.footer-p-note {
  font-size: 13px;
  font-weight: 400;
  color: #ebebeb;
  line-height: 22px;
}

p.footer-p-a > a{
  color: #ffffff !important;
  text-decoration: underline;
}

p.footer-p-a > a:hover {
  color: rgb(121, 55, 165) !important;
  text-decoration: underline;
}

.footer-copyright{
  margin-top: 30px;
}

p.footer-copyright {
  color: #ffffff !important;
  font-size: 13px !important;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-family: "Hind", sans-serif !important;
}

p.footer-copyright > a{
  color: #ffffff !important;
}

p.footer-copyright > a:hover{
  color: rgb(121, 55, 165) !important;
}

.footer-txt > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1ae5;
  font-family: "Hind", sans-serif !important;
  margin-bottom: -15px;
}

.page-content > h5{
  font-size: 28px;
  font-weight: 800;
  color: #1a1a1ae5;
  margin: 5px 0px 0px 0px;
  font-family: "Hind", sans-serif !important;
  margin-top: 25px;
  letter-spacing: -0.4px;
}

.page-content > p {
  font-size: 15px;
  font-weight: 400;
  color: #444343e5;
  padding: 12px 0px;
  line-height: 28px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  margin: 0px !important;
}

.page-content > ul > li {
  font-size: 15px;
  font-weight: 400;
  color: #444343e5;
  padding: 12px 0px;
  line-height: 10px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  margin: 0px !important;
}

.page-content > p > a{
  color: #1a1a1ae5 !important;
}

.page-content > p > a:hover{
  color: rgb(121, 55, 165) !important;
}
/* -------------------------------
  Footer End
---------------------------------- */